:root {
    --animate-duration: 200ms;
    --popup-duration: 300ms;
}

@keyframes onScreenAppearance {
    from {
        opacity: 0;
        transform: scale(1.2);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeIn-from-left {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn-from-right {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes blurFadeIn {
    0% {
        opacity: 0;
        filter: blur(8px);
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

@keyframes zoomIn-from-center {
    0% {
        scale: 0.3;
        opacity: 0;
    }

    100% {
        scale: 1;
        opacity: 1;
    }
}

.animate-zoom-from-center {
    animation: zoomIn-from-center var(--animate-duration) ease forwards;
}

.blur-fade-in {
    animation: blurFadeIn var(--animate-duration) ease forwards;
}

.animate-left-to-right {
    animation: fadeIn-from-left var(--animate-duration) ease-in-out;
}

.animate-right-to-left {
    animation: fadeIn-from-right var(--animate-duration) ease-in-out;
}

.animate-on-screen {
    animation: onScreenAppearance var(--animate-duration) ease-in-out;
    transform-origin: center;
}

.animate-original-to-center {
    will-change: left, top, width, height, transform, opacity;
    transition: all var(--popup-duration) ease-out, opacity var(--popup-duration) ease-in;
}